@use "variable" as *;

.blockWorkList {
    position: relative;
    width: 100%;
    font-size: inherit;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 2em;
    margin-top: 2em;
    @include sp {
        grid-template-columns: unset;
        grid-auto-flow: row;
        gap: 0;
    }
    & > li {
        position: relative;
        grid-row: span 3;
        display: grid;
        grid-template-rows: subgrid;
        font-size: inherit;
        padding: 2em 2em;
        background-color: #fff;
        margin-bottom: 1em;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
        gap: 0.3em 0;
        @include sp {
            padding: 4vw 4vw;
            gap: 1vw 0;
        }
        h3 {
            font-size: FZ(36);
            letter-spacing: 0.08em;
            color: $fontGray;
            @include sp {
                font-size: FZ(28);
            }
        }
        .boxImage {
            position: relative;
            aspect-ratio: 1.5;
            width: 100%;
            img {
                object-fit: cover;
            }
        }
        p {
            font-size: FZ(14);
            letter-spacing: 0.08em;
            line-height: 2em;
            @include sp {
                font-size: FZ(16);
            }
        }
    }
}
