@use './variable' as *;
header {
    font-size: inherit;
    width: stretch;
    max-width: 150rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 2vw;
    h1 {
        font-size: FZ(24);
        font-weight: 700;
        letter-spacing: 0.04em;
        min-width: 11em;
    }
    nav {
        position: relative;
        font-size: inherit;
        display: flex;
        width: 100%;
        max-width: 61rem;
        & > ul {
            font-size: inherit;
            display: flex;
            gap: 0 0.5em;
            width: stretch;
            justify-content: space-between;
            & > li {
                font-size: inherit;
                position: relative;
                .nav-link {
                    font-size: FZ(14);
                    letter-spacing: 0.08em;
                    &.link_contact {
                        background-color: #009ec2;
                        color: #fff;
                        padding: 1.2em 1.2em;
                        transition: 0.2s ease-out;
                        @include hover {
                            background-color: transparent;
                            border: 1px solid #009ec2;
                            color: $fontBlack;
                        }
                    }
                }
            }
        }
    }
}
