@use '/src/styles/variable' as *;

.container01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @include sp {
        padding-top: 14vw;
    }
    h3 {
        font-size: FZ(24);
        letter-spacing: 0.12em;
    }
    .h3_sidebar {
        font-size: FZ(24);
        margin: 6em 0 3em;
        letter-spacing: 0.08em;
    }

    .comment {
        font-size: FZ(14);
        margin-top: 2em;
        text-align: center;
        line-height: 2em;
        letter-spacing: 0.12em;
        margin-bottom: 3em;
    }
}
