@use 'variable' as *;
footer {
    font-size: inherit;
    width: stretch;
    max-width: 150rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 3em 2vw 1em;
    border-top: 1px solid #000;
    gap: 2em 0;
    @include sp{
        
    }    
    .link_privacy {
        font-size: FZ(14);
        text-align: right;
        letter-spacing: 0.08em;
        align-self: center;
    }
    .copyright {
        grid-column: span 2;
        text-align: center;
        font-size: FZ(12);
        letter-spacing: 0.08em;
    }
}
