@use '/src/styles/variable' as *;

header {
    font-size: inherit;
    width: stretch;
    max-width: 150rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 2vw;
    @include sp {
        padding: 6vw 4vw 4vw;
    }
    .hamburgerButton {
        position: fixed;
        top: 4vw;
        right: 4vw;
        width: 12vw;
        aspect-ratio: 1;
        border: solid 1px #000000;
        z-index: 100;
        display: none;
        @include sp {
            display: block;
            background-color: $baseWhite;
        }
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60%;
            height: 2px;
            background-color: #000000;
            transition: 0.3s ease-out;
            &:nth-of-type(1) {
                translate: -50% calc(-50% - 2vw);
            }
            &:nth-of-type(2) {
                translate: -50% -50%;
            }
            &:nth-of-type(3) {
                translate: -50% calc(-50% + 2vw);
            }
        }
        &.is-open {
            span {
                transition: 0.3s ease-out;
                &:nth-of-type(1) {
                    translate: -50% -50%;
                    rotate: 45deg;
                }
                &:nth-of-type(2) {
                    translate: 150% -50%;
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    translate: -50% -50%;
                    rotate: -45deg;
                }
            }
        }
    }
    h1 {
        font-size: FZ(24);
        font-weight: 700;
        letter-spacing: 0.04em;
        min-width: 11em;
        @include sp {
            display: inline-block;
            z-index: 51;
            font-size: FZ(32);
        }
    }

    nav {
        position: relative;
        font-size: inherit;
        display: flex;
        width: 100%;
        max-width: 61rem;
        @include sp {
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            width: 100vw;
            width: 100dvw;
            height: 100vh;
            height: 100dvh;
            z-index: 10;
            background-color: $baseWhite;
            translate: 100vw;
            transition: 0.3s ease-out;
            &.is-open {
                translate: 0;
            }
            &.closing {
                translate: 100vw;
            }
        }

        & > ul {
            font-size: inherit;
            display: flex;
            gap: 0 0.5em;
            width: stretch;
            justify-content: space-between;
            @include sp {
                flex-direction: column;
                justify-content: center;
                gap: 6vw 0;
                padding-inline: 8vw;
                width: stretch;
            }
            & > li {
                font-size: inherit;
                position: relative;
                @include sp {
                    width: stretch;
                }
                .nav-link {
                    font-size: FZ(14);
                    letter-spacing: 0.08em;
                    @include sp {
                        width: stretch;
                        display: inline-block;
                        font-size: FZ(20);
                    }
                    &.link_contact {
                        background-color: #009ec2;
                        color: #fff;
                        padding: 1.2em 1.2em;
                        transition: 0.2s ease-out;
                        @include hover {
                            background-color: transparent;
                            color: $fontBlack;
                        }
                        @include sp {
                            width: 100%;
                            padding-block: 4vw;
                            text-align: center;
                            margin-top: 12vw;
                        }
                    }
                }
            }
        }
    }
}
